<template id="lobby-main">
  <div class="red-black-border lobby-wrapper">
    <div id="lobbies-topbar" class="flex justify-between center-align">
      <h1>Lobbies</h1>
      <button type="button" id="leave-lobby-button" hidden>
        <img src="/static/exit.svg" class="w-4" alt="Exit Current Lobby">
      </button>
    </div>
    <ul id="lobbies-list">
      <p>Fetching Lobbies...</p>
    </ul>
    <div id="lobby-footer" class="flex">
      <div class="lobby-button-wrapper">
        <button>Create Lobby</button>
      </div>
      <div class="lobby-button-wrapper right">
        <button id="joinLobby" disabled>Join Lobby</button>
      </div>
    </div>
  </div>
</template>

<template id="lobby-card-template">
    <li class="card hover:shadow-md transition-shadow duration-200">
      <div class="card-body">
        <div class="flex items-start justify-between">
          <div class="flex-1">
            <h3 class="mb2">Lobby Name</h3>
            <div class="flex items-center space-x-4 text-caption">
              <img src="/static/locked.svg" id="lockSvg" class="w-4" alt="Private Lobby">
              <div class="flex items-center">
                <img src="/static/user.svg" class="w-4" alt="Users">
                <span class="active-players">1</span>
                /
                <span class="max-players">8</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </template>

<template id="lobby-password-modal">
    <div class="password-modal-wrapper">
      <div class="password-modal">
        Enter Lobby Password:
        <input></input>
        <div class="password-button-wrapper">
            <button class="cancel-password-button">Cancel</button>
            <button class="cancel-password-button">Submit</button>
        </div>
      </div>
    </div>
  </template>

<template id="no-lobbies-template">
  <li>
    Sorry, but it appears there are no lobbies. Try making a new one!
  </li>
</template>
