<template id="privacy">
     <h1>RPIGames Privacy Policy</h1>

    <p> This privacy policy ("policy") will help you understand how RPIGames ("us", "we",
        "our") uses and protects the data you provide to us when you visit and use our website.
        ("website", "service").
        We reserve the right to change this policy at any given time, without notice.
        If you want to make sure that you are up to date with the latest changes, we advise
        you to frequently visit this page.</p>

    <h2>What User Data We Collect</h2>
    <p>
    When you visit the website, we may collect the following data:
    </p>

    <ul>
        <li>Your IP address.</li>
        <li>Your location information.</li>
        <li>Messages, images, your username and other User Generated content
        submitted by users on the platform.</li>
    </ul>

    <p>
    Other third party services we use or may use in the future (Google Maps, etc) may have
    their own data they collect. You are welcome to crawl through the source <a href="https://github.com/RPIGames/RPIGames/">on the Github</a>
    to figure out what third party services we use, and read their privacy policies as well.
    </p>

    <h2>
    Why we collect this data
    </h2>

    <ul>
        <li>To make the service function</li>
        <li>To filter out bad actors</li>
        <li>To improve RPIGames</li>
        <li>To make the service available to a larger audience</li>
    </ul>

    <h2>What information do we store on your device</h2>

    <p>
    We use localstorage to keep track of a unique identifier to save your session so that we
    may remember you and allow you to access our services. As this identifier is strictly
    required to use our website, you cannot disable it. To remove this data from your computer,
    you can search "how to clear localstorage on [your browser]" and follow the steps given.
    </p>
</template>